<!-- <h1>{{ (item | async)?.name }}</h1> -->
<li *ngFor="let item of items | async">
    {{ item | json }}
</li>
<h1>{{title}}</h1>
<input type = "text" #newTodo/>
<button (click)="addTodo(newTodo.value)">Add a task</button>
<table cellspacing="0" cellpadding="0">
  <tr>
    <th>Task</th>
    <th id='secondCol'>Done</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td>{{todo.label}}</td>
    <td>
      <button (click)="deleteTodo(todo)" id='btn'>
      <img src='./assets/checkmark.png' id='checkmark'/>
    </button>
  </td>
  </tr>
</table>

